@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        para ver los Aprendices guardados dirijase a aprendices o pulse el
        siguiente boton.
    </p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Aprendices")">Aprendices</a>
</div>
